@charset 'utf-8';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: 100 150 0;
}

body {
  --bg-color: rgb(var(--primary-color));
  // background: rgb(from var(--bg-color) r g b);
  background: rgba(var(--primary-color) / .5);
  padding: 2rem;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  letter-spacing: .085em;
  color: #fff;
}
.carousel {
  display: flex;
  gap: 1rem;
  margin: 3rem auto;
  background-color: rgba(var(--primary-color) / .7);
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; //iOSの滑らかな動き
  // position: relative; //old technique
  // new positioning with anchor
  anchor-name: --carousel;
  // スクロールスナップを有効化
  scroll-snap-type: x mandatory;
  
  // スクロールマーカーを設置
  scroll-marker-group: after;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  &::scroll-button(right),
  &::scroll-button(left){
    background-color: rgba(var(--primary-color) / .8);
    border: none;
    color: #fff;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0 0 0 /.25);
    transition: .3s;
    // position: absolute;
    font-family: 'Material Icons Round';
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    // anchor-nameに従って配置
    // position-areaで配置を決める
    position-anchor: --carousel;
    //例) position-area: right center;
    z-index: 10;
    
    &:hover {
      box-shadow: 0 0 10px rgba(0 0 0 /.5);
      background-color: rgba(var(--primary-color) / 1);
    }
    
    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
    &:disabled:hover {
      background-color: rgba(var(--primary-color) / .2);
    }
  }
  
  &::scroll-button(right) {
    content: '\e5c8';
    position-area: right center;
    translate: -50%;
  }
  &::scroll-button(left) {
    content: '\e5c4';
    position-area: left center;
    translate: 50%;
  }
  
  &::scroll-marker-group {
    display: flex;
    gap: .5em;
    justify-content: center;
  }
  
}

.card {
  flex: 0 0 70%;
  display: grid;
  grid-template-areas: "stack";
  justify-items: center;
  align-items: center;
  // scroll-snap-align
  // scroll-snap-typeを指定した子要素にのみ適用可能
  scroll-snap-align: center;
  
  &::scroll-marker {
    content: '';
    width: .6em;
    height: .6em;
    border-radius: 50%;
    background-color: rgb(0 0 0 /.15);
    font-family: 'Material Icons Round';
    transition: .3s;
  }
  &::scroll-marker:target-current,
  &::scroll-marker:hover {
    background: rgba(var(--primary-color));
  }
}
.card > * {
  grid-area: stack;
  border-radius: 5px;
}
.card > p {
  background-color: rgba(0 0 0 /.5);
  padding: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  z-index: 1;
}


.m-icon::before {
  font-family: 'Material Icons';
  content: '\e5c4';
  color: #fff;
}

@media(max-width: 500px) {
  .card {
    flex: 0 0 100%;
  }
}